# Json

JSON (JavaScript Object Notation) — это текстовый формат обмена данными, который был разработан Дугласом Крокфордом. Несмотря на происхождение от JavaScript, формат считается независимым от языка и может использоваться практически с любым языком программирования.

**Основные характеристики**

*   Текстовый формат — легко читается как людьми, так и машинами
*   Компактность — занимает меньше места по сравнению с XML
*   Универсальность — поддерживается большинством языков программирования
*   Простота — имеет понятный и лаконичный синтаксис


**Где применяется**

*   Обмен данными между клиентом и сервером в веб-приложениях
*   AJAX-запросы
*   REST API
*   Хранение конфигурационных данных
*   Сериализация сложных структур данных

```
{
  "name": "John",
  "age": 30,
  "isStudent": false,
  "courses": ["Math", "Science"],
  "address": {
    "city": "New York",
    "zipcode": "10001"
  }
}
```

# Модуль `json` в Python и его синтаксис



*   `json.dump()` - записывает Python-объект в файл в формате JSON
*   `json.dumps()` - преобразует Python-объект в структуру JSON
*   `json.load()` - считывает JSON из файла и преобразует в Python-объект
*   `json.loads()` - преобразует строку JSOB в Python-объект

In [2]:
# Строку в JSON

import json

json_string = '{"name": "Charlie", "age": 22, "isStudent": true, "courses": ["Art", "Music"], "address": {"city": "San Francisco", "zipcode": "94101"}}'

data = json.loads(json_string)
print(data)

{'name': 'Charlie', 'age': 22, 'isStudent': True, 'courses': ['Art', 'Music'], 'address': {'city': 'San Francisco', 'zipcode': '94101'}}

In [3]:
# JSON в Строку

import json

data = {
    "name": "Diana",
    "age": 24,
    "isStudent": False,
    "courses": ["Literature", "Philosophy"],
    "address": {
        "city": "Boston",
        "zipcode": "02101"
    }
}

json_string = json.dumps(data, indent=4)
print(json_string)
print(type(json_string))

{
    "name": "Diana",
    "age": 24,
    "isStudent": false,
    "courses": [
        "Literature",
        "Philosophy"
    ],
    "address": {
        "city": "Boston",
        "zipcode": "02101"
    }
}
<class 'str'>

In [4]:
# Создаём файл с данными из прошлой ячейки, чтобы работало

import json

with open('read.json', 'w') as file:
  json.dump(data, file, indent=4)

In [5]:
# Чтение данных из файла

import json

with open('read.json', 'r') as file:
    student = json.load(file)

student = json.dumps(student, indent=4)
print(student)

{
    "name": "Diana",
    "age": 24,
    "isStudent": false,
    "courses": [
        "Literature",
        "Philosophy"
    ],
    "address": {
        "city": "Boston",
        "zipcode": "02101"
    }
}

In [6]:
# Запись в файл

import json

students = [
    {
        'name': 'Eve', 'age': 22, 'isStudent': True, 'address': {
          'city': 'Miami', 'zipcode': '33101'
        }
    },
    {
        'name': 'Frank', 'age': 23, 'isStudent': False, 'address': {
            'city': 'Seattle', 'zipcode': '98101'
        }
    }
]

with open('write.json', 'w') as file:
    json.dump(students, file, indent=4)

In [7]:
# Прочитаем из файла

import json

with open('write.json', 'r') as file:
  students = json.load(file)

students = json.dumps(students, indent=4)
print(students)

[
    {
        "name": "Eve",
        "age": 22,
        "isStudent": true,
        "address": {
            "city": "Miami",
            "zipcode": "33101"
        }
    },
    {
        "name": "Frank",
        "age": 23,
        "isStudent": false,
        "address": {
            "city": "Seattle",
            "zipcode": "98101"
        }
    }
]

# CSV

Файл CSV – это особый вид файла, который позволяет структурировать большие объемы данных.

По сути, он является обычным текстовым файлом, однако каждый новый элемент отделен от предыдущего запятой или другим разделителем. Обычно каждая запись начинается с новой строки. Данные CSV можно легко экспортировать в электронные таблицы или базы данных. Программист может расширять CSV файл, добавляя новые строки.

**Пример CSV файла, где в качестве разделителя используется запятая:**

```
Имя,Профессия,Год рождения
Виктор,Токарь,1995
Сергей,Сварщик,1983
```

Вместо запятой можно использовать любой другой разделитель, поэтому при чтении CSV файла нужно заранее знать, какой символ используется.

Важно помнить, что CSV – это обычный текстовый файл, который не поддерживает символы в кодировках, отличающихся от ASCII или Unicode.

In [14]:
# Пример чтения CSV файла

import csv

with open('write.csv', mode='r', encoding='utf-8') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)

FileNotFoundError: [Errno 2] No such file or directory: 'write.csv'

In [ ]:
# Чтение CSV файла с заголовками

import csv

with open('write.csv', mode='r', encoding='utf-8') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        print(row)

{'Имя': 'Иван', 'Возраст': '28', 'Город': 'Москва'}
{'Имя': 'Мария', 'Возраст': '25', 'Город': 'Санкт-Петербург'}

In [ ]:
# Запись данных в CSV файл

import csv

data = [
    ['Имя', 'Возраст', 'Город'],
    ['Иван', 28, 'Москва'],
    ['Мария', 25, 'Санкт-Петербург']
]

with open('write.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

# Задачи:

**JSON**


1.   Создание JSON-объекта

Создайте словарь с информацией о студенте (имя, возраст, оценки) и преобразуйте его в JSON-формат. Выведите результат в консоль.

2.   Чтение JSON-файла

Дан файл data.json со следующей структурой:
```
{
    "name": "Иван",
    "age": 20,
    "courses": ["Математика", "Физика"]
}
```
3.   Модификация данных

Добавьте в JSON-объект новое поле email и обновите файл на диске.

4.   Работа с массивами

Создайте JSON-файл, содержащий список словарей с информацией о книгах (название, автор, год издания). Добавьте функцию для поиска книг по автору.

5.   Обработка ошибок

Напишите программу, которая пытается прочитать JSON-файл и обрабатывает возможные ошибки (файл не найден, некорректный формат).

6.   Преобразование данных

Преобразуйте JSON-объект, содержащий список температур за месяц, в словарь, где ключами будут даты, а значениями — температуры.

7.   Вложенные структуры

Создайте JSON-объект, представляющий каталог товаров с вложенной структурой (категория → подкатегория → товары). Реализуйте поиск товара по названию.

# **Доп. баллы**

8.   Оптимизация хранения\

Реализуйте сжатие JSON-данных перед сохранением в файл и их распаковку при чтении.

9.   Валидация данных

Напишите функцию для проверки корректности JSON-структуры по заданному шаблону (например, проверка наличия обязательных полей).

# Решения

1.   Создание JSON-объекта

Создайте словарь с информацией о студенте (имя, возраст, оценки) и преобразуйте его в JSON-формат. Выведите результат в консоль.

In [38]:
import json

data = {
    'first_name': 'John',
    'last_name': 'Doe',
    'courses': ['Maths', 'Physics', 'Computer Science'],
    'avg_grades': [4.5, 4, 5]
}

j_data = json.dumps(data, indent=4)
print(j_data)

{
    "first_name": "John",
    "last_name": "Doe",
    "courses": [
        "Maths",
        "Physics",
        "Computer Science"
    ],
    "avg_grades": [
        4.5,
        4,
        5
    ]
}

2.   Чтение JSON-файла

Дан файл data.json со следующей структурой:
```
{
    "name": "Иван",
    "age": 20,
    "courses": ["Математика", "Физика"]
}
```

In [39]:
import json

data = {
    "name": "Иван",
    "age": 20,
    "courses": ["Математика", "Физика"]
}

with open('data.json', 'w') as file:
  json.dump(data, file, indent=4)

with open('data.json', 'r') as file:
  data = json.load(file)

print(json.dumps(data, indent=4, ensure_ascii=False))

{
    "name": "Иван",
    "age": 20,
    "courses": [
        "Математика",
        "Физика"
    ]
}

3.   Модификация данных

Добавьте в JSON-объект новое поле email и обновите файл на диске.

In [40]:
import json

with open('data.json', 'r') as file:
  data = json.load(file)

data['email'] = 'mymail@mail.ru'

# Записал
with open('data.json', 'w') as file:
  json.dump(data, file, indent=4)

# Считал
with open('data.json', 'r') as file:
  data = json.load(file)

print(json.dumps(data, indent=4, ensure_ascii=False))

{
    "name": "Иван",
    "age": 20,
    "courses": [
        "Математика",
        "Физика"
    ],
    "email": "mymail@mail.ru"
}

4.   Работа с массивами

Создайте JSON-файл, содержащий список словарей с информацией о книгах (название, автор, год издания). Добавьте функцию для поиска книг по автору.

In [41]:
import json

data = [
    {
        'title': 'A Tale of Two Cities',
        'author': 'Charles Dickens',
        'year_published': 1859
    },
    {
        'title': 'The Little Prince (Le Petit Prince)',
        'author': 'Antoine de Saint-Exupéry',
        'year_published': 1943
    },
    {
        'title': 'The Alchemist (O Alquimista)',
        'author': 'Paulo Coelho',
        'year_published': 1988
    },
    {
        'title': 'A Tale of Three Cities',
        'author': 'Charles Dickens',
        'year_published': 1869
    }
]

with open('books.json', 'w', encoding='utf-8') as file:
  json.dump(data, file, indent=4, ensure_ascii=False)

In [42]:
def books_by_author(file_name, author_name):
  with open(file_name, 'r') as file:
    data = json.load(file)
  result = [book for book in data if book['author'].lower() == author_name.lower()]
  return result

In [43]:
books_by_author('books.json', 'Charles Dickens')

[{'title': 'A Tale of Two Cities',
  'author': 'Charles Dickens',
  'year_published': 1859},
 {'title': 'A Tale of Three Cities',
  'author': 'Charles Dickens',
  'year_published': 1869}]

5.   Обработка ошибок

Напишите программу, которая пытается прочитать JSON-файл и обрабатывает возможные ошибки (файл не найден, некорректный формат).

In [44]:
import json

def read_json_file(filename):
  try:
    with open(filename, 'r') as file:
      json.load(file)
  except FileNotFoundError:
    print('Файл не найден')
  except ValueError:
    print('Некорректный формат')

In [45]:
read_json_file('boos.json')

Файл не найден

6.   Преобразование данных

Преобразуйте JSON-объект, содержащий список температур за месяц, в словарь, где ключами будут даты, а значениями — температуры.

In [46]:
import json
import random
list_temps = [random.randint(-20, 20) for _ in range(30)]
print(list_temps)

data = {
    'temps': list_temps
}

with open('temps.json', 'w') as file:
  json.dump(data, file, indent=4)

with open('temps.json', 'r') as file:
  j_temps = json.load(file)

day_temp = {}
for _ in range(1, len(j_temps['temps']) + 1):
  day_temp[_] = j_temps['temps'][_ - 1]
print(day_temp)

[15, -8, -6, 10, 6, 2, 20, -1, -14, 2, -5, 15, -7, -6, 7, -18, -8, -1, -1, -15, 14, -15, -1, -17, -11, -14, 10, 15, -9, 0]
{1: 15, 2: -8, 3: -6, 4: 10, 5: 6, 6: 2, 7: 20, 8: -1, 9: -14, 10: 2, 11: -5, 12: 15, 13: -7, 14: -6, 15: 7, 16: -18, 17: -8, 18: -1, 19: -1, 20: -15, 21: 14, 22: -15, 23: -1, 24: -17, 25: -11, 26: -14, 27: 10, 28: 15, 29: -9, 30: 0}

7.   Вложенные структуры

Создайте JSON-объект, представляющий каталог товаров с вложенной структурой (категория → подкатегория → товары). Реализуйте поиск товара по названию.

In [89]:
import json

# Случайный сгенерированный каталог
data = {
    "catalogue": {
        "Электроника": {
            "Смартфоны": [
                {
                    "id": "001",
                    "название": "iPhone 15 Pro Max",
                    "цена": 129990,
                    "характеристики": {
                        "память": "256 ГБ",
                        "цвет": "черный",
                        "камера": "48 МП"
                    }
                },
                {
                    "id": "002",
                    "название": "Samsung Galaxy S24 Ultra",
                    "цена": 119990,
                    "характеристики": {
                        "память": "512 ГБ",
                        "цвет": "титановый",
                        "камера": "200 МП"
                    }
                }
            ],
            "Ноутбуки": [
                {
                    "id": "003",
                    "название": "MacBook Air M2",
                    "цена": 149990,
                    "характеристики": {
                        "процессор": "Apple M2",
                        "память": "8/256 ГБ",
                        "экран": "13.6\""
                    }
                },
                {
                    "id": "004",
                    "название": "Dell XPS 13",
                    "цена": 139990,
                    "характеристики": {
                        "процессор": "Intel Core i7",
                        "память": "16/512 ГБ",
                        "экран": "13.4\""
                    }
                }
            ]
        },
        "Бытовая техника": {
            "Холодильники": [
                {
                    "id": "005",
                    "название": "Samsung RB30A30N0WW",
                    "цена": 69990,
                    "характеристики": {
                        "объем": "301 л",
                        "энергопотребление": "A++",
                        "морозильник": "снизу"
                    }
                },
                {
                    "id": "006",
                    "название": "LG GR-N309SL1",
                    "цена": 74990,
                    "характеристики": {
                        "объем": "311 л",
                        "энергопотребление": "A++",
                        "морозильник": "сверху"
                    }
                }
            ]
        }
    }
}

with open('catalogue.json', 'w') as file:
  json.dump(data, file, indent=4)

In [90]:
def item_search(item_name):
  results = []
  item_name = str(item_name)
  
  with open('catalogue.json', 'r') as file:
    data = json.load(file)
  
  for product_category, product_subcategory in data['catalogue'].items():
    for product_subcategory, subcat_cont in product_subcategory.items():
      for product in subcat_cont:
        if item_name.lower() == product['название'].lower():
          results.append(product)
  
  if len(results) == 0:
    return 'Совпадений не найдено'

  results = json.dumps(results, indent=4, ensure_ascii=False)
  return results

In [91]:
print(item_search('Dell XPS 13'))

[
    {
        "id": "004",
        "название": "Dell XPS 13",
        "цена": 139990,
        "характеристики": {
            "процессор": "Intel Core i7",
            "память": "16/512 ГБ",
            "экран": "13.4\""
        }
    }
]

# CSV



1.   Чтение CSV файла

Написать программу, которая читает CSV файл со списком студентов и их оценок, выводит содержимое на экран.

```
Имя,Оценка
Анна,5
Борис,4
Виктор,5

```

2.   Запись в CSV

Создать программу, которая записывает список словарей с информацией о книгах в CSV файл.

```python
books = [
    {'title': 'Война и мир', 'author': 'Толстой', 'year': 1869},
    {'title': '1984', 'author': 'Оруэлл', 'year': 1949}
]
```

3.   Фильтрация данных

Написать программу, которая фильтрует CSV файл с данными о продажах, оставляя только записи с суммой больше 1000 рублей.

```
Дата,Товар,Сумма
01.01.2023,Телефон,1200
02.01.2023,Ручка,100
03.01.2023,Ноутбук,15000

```

4.   Подсчет статистики

Создать программу, которая подсчитывает среднюю оценку по предмету из CSV файла с оценками студентов.

```
Студент,Математика,Физика,Химия
Анна,5,4,5
Борис,4,3,4
Виктор,5,5,5

```

5.   Объединение CSV файлов

Написать программу, которая объединяет несколько CSV файлов с одинаковыми заголовками в один файл.

```
# file1.csv
ID,Имя,Возраст
1,Анна,20
2,Борис,22

# file2.csv
ID,Имя,Возраст
3,Виктор,21
4,Галина,19

```

# **Доп. баллы**

6.   Генерация данных

Сгенерируйте файл csv более 1 млн строк с похожей структурой данных, запишите полученные данные CSV файл.

```
Город,Население
Москва,12000000
Санкт-Петербург,5000000
Новосибирск,1600000

```
7.   Обработка больших данных

Создать программу, которая обрабатывает большой CSV файл (более 1 млн строк) и находит топ-10 самых частых значений в определенном столбце.

Данные взять из предыдущего задания (6-е задание)

In [ ]:
try:
    import pandas as pd
except ModuleNotFoundError:
    %pip install pandas
    import pandas as pd

1.   Чтение CSV файла

Написать программу, которая читает CSV файл со списком студентов и их оценок, выводит содержимое на экран.

```
Имя,Оценка
Анна,5
Борис,4
Виктор,5

```

In [3]:
import csv

data = [
    ['Имя', 'Оценка'],
    ['Анна', 5],
    ['Борис', 4],
    ['Виктор', 5]
]

with open('data.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

csv_data = pd.read_csv('data.csv')

csv_data

      Имя  Оценка
0    Анна       5
1   Борис       4
2  Виктор       5

2.   Запись в CSV

Создать программу, которая записывает список словарей с информацией о книгах в CSV файл.

```python
books = [
    {'title': 'Война и мир', 'author': 'Толстой', 'year': 1869},
    {'title': '1984', 'author': 'Оруэлл', 'year': 1949}
]
```

In [99]:
books = [
    {'title': 'Война и мир', 'author': 'Толстой', 'year': 1869},
    {'title': '1984', 'author': 'Оруэлл', 'year': 1949}
]

In [102]:
books[0].keys()

dict_keys(['title', 'author', 'year'])

In [141]:
def ld_to_csv(ld):
    data = [[*ld[0].keys()]]
    for _ in books:
        subr = []
        for key, item in _.items():
            subr.append(item)
        data.append(subr)
    with open('books.csv', 'w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerows(data)

In [142]:
ld_to_csv(books)

csv_data = pd.read_csv('books.csv')

csv_data

         title   author  year
0  Война и мир  Толстой  1869
1         1984   Оруэлл  1949

3.   Фильтрация данных

Написать программу, которая фильтрует CSV файл с данными о продажах, оставляя только записи с суммой больше 1000 рублей.

```
Дата,Товар,Сумма
01.01.2023,Телефон,1200
02.01.2023,Ручка,100
03.01.2023,Ноутбук,15000

```

In [145]:
data = [
    ['Дата','Товар','Сумма'],
    ['01.01.2023','Телефон',1200],
    ['02.01.2023','Ручка',100],
    ['03.01.2023','Ноутбук',15000]
]

with open('purchases.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [148]:
csv_data = pd.read_csv('purchases.csv')

csv_data

         Дата    Товар  Сумма
0  01.01.2023  Телефон   1200
1  02.01.2023    Ручка    100
2  03.01.2023  Ноутбук  15000

In [149]:
csv_data[csv_data['Сумма'] > 1000]

         Дата    Товар  Сумма
0  01.01.2023  Телефон   1200
2  03.01.2023  Ноутбук  15000

4.   Подсчет статистики

Создать программу, которая подсчитывает среднюю оценку по предмету из CSV файла с оценками студентов.

```
Студент,Математика,Физика,Химия
Анна,5,4,5
Борис,4,3,4
Виктор,5,5,5

```

In [152]:
data = [
    ['Студент','Математика','Физика','Химия'],
    ['Анна',5,4,5],
    ['Борис',4,3,4],
    ['Виктор',5,5,5]
]

with open('grades.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [167]:
csv_data = pd.read_csv('grades.csv')

csv_data

  Студент  Математика  Физика  Химия
0    Анна           5       4      5
1   Борис           4       3      4
2  Виктор           5       5      5

In [168]:
def avg_mark(grades):
    disciplines = grades.columns[1:]
    grades.loc[grades.shape[0], 'Студент'] = 'Средний балл'
    for each in disciplines:
        grades.loc[grades.shape[0]-1, each] = grades[each].mean()

In [169]:
avg_mark(csv_data)

In [170]:
csv_data

        Студент  Математика  Физика     Химия
0          Анна    5.000000     4.0  5.000000
1         Борис    4.000000     3.0  4.000000
2        Виктор    5.000000     5.0  5.000000
3  Средний балл    4.666667     4.0  4.666667

5.   Объединение CSV файлов

Написать программу, которая объединяет несколько CSV файлов с одинаковыми заголовками в один файл.

```
# file1.csv
ID,Имя,Возраст
1,Анна,20
2,Борис,22

# file2.csv
ID,Имя,Возраст
3,Виктор,21
4,Галина,19

```

In [171]:
data = [
    ['ID','Имя','Возраст'],
    [1,'Анна',20],
    [2,'Борис',22]
]

with open('file1.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

data = [
    ['ID','Имя','Возраст'],
    [3,'Виктор',21],
    [4,'Галина',19]
]


with open('file2.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [173]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')

merged = pd.concat([file1, file2])

merged.to_csv('merged.csv')

# **Доп. баллы**

6.   Генерация данных

Сгенерируйте файл csv более 1 млн строк с похожей структурой данных, запишите полученные данные CSV файл.

```
Город,Население
Москва,12000000
Санкт-Петербург,5000000
Новосибирск,1600000

```

Воспользуюсь csv-файлом из архива https://simplemaps.com/static/data/world-cities/basic/simplemaps_worldcities_basicv1.901.zip, в котором содержатся данные о городах мира

In [33]:
a = pd.read_csv('worldcities.csv')
a = a[['city', 'population']]
a

                   city  population
0                 Tokyo  37785000.0
1               Jakarta  33756000.0
2                 Delhi  32226000.0
3             Guangzhou  26940000.0
4                Mumbai  24973000.0
...                 ...         ...
48054          Al Jabīn         NaN
48055         Nelspruit         NaN
48056          Gqeberha         NaN
48057            Lupane         NaN
48058  Charlotte Amalie         NaN

[48059 rows x 2 columns]

Избавимся от пустых строк

In [34]:
a.dropna(inplace=True)
a.reset_index(drop=True,inplace=True)
a

               city  population
0             Tokyo  37785000.0
1           Jakarta  33756000.0
2             Delhi  32226000.0
3         Guangzhou  26940000.0
4            Mumbai  24973000.0
...             ...         ...
47803        Kostel        10.0
47804     Kingoonya         4.0
47805  Chuquicamata         0.0
47806       Nordvik         0.0
47807    Logashkino         0.0

[47808 rows x 2 columns]

Запишем в файл

In [35]:
try:
    import random
except ModuleNotFoundError:
    %pip install random
    import random

In [45]:
data = [['City', 'Population']]
for i in range(1000):
    for j in range(1000):
        data.append([a['city'][random.randint(0, a.shape[0]-1)], a['population'][random.randint(0, a.shape[0]-1)]])
    with open('cit_pop.csv', 'a', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerows(data)
    file.close()
    data = []

7.   Обработка больших данных

Создать программу, которая обрабатывает большой CSV файл (более 1 млн строк) и находит топ-10 самых частых значений в определенном столбце.

Данные взять из предыдущего задания (6-е задание)

In [46]:
data = pd.read_csv('cit_pop.csv')
data

              City  Population
0       Costa Mesa     11310.0
1            Yunfu     17422.0
2           Siófok    409745.0
3          Jalingo     10795.0
4           Visbek     13774.0
...            ...         ...
999995  Lavrentiya     11491.0
999996   Marolambo     12527.0
999997       Bryan    108008.0
999998      Bonthe     17598.0
999999  Brownhills     15236.0

[1000000 rows x 2 columns]

In [54]:
def find_ten_top(data, row_name):
    return data.value_counts(subset=[row_name])[0:10]

In [55]:
find_ten_top(data, 'City')

City
San Fernando    361
Santa Ana       321
Santa Cruz      309
San Juan        296
Springfield     273
San Isidro      260
Victoria        259
San Miguel      258
San Lorenzo     239
Pilar           234
Name: count, dtype: int64

In [56]:
find_ten_top(data, 'Population')

Population
10000.0       3173
15000.0       1874
9000.0        1600
12000.0       1416
13000.0       1336
20000.0       1229
11000.0       1088
30000.0        986
10.0           902
16000.0        850
Name: count, dtype: int64

# Литература
**JSON**


*   https://python-scripts.com/json
*   https://practicum.yandex.ru/blog/modul-json-v-python/
*   https://sky.pro/wiki/python/rabota-s-json-v-python-rukovodstvo-dlya-nachinayushih/

**CSV**


*   https://pythonlib.ru/post58
*   https://all-python.ru/osnovy/csv.html
*   https://sky.pro/wiki/python/rabota-s-csv-fajlami-v-python-rukovodstvo-dlya-nachinayushih/